body {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: purple;
}

.background-1 {
  background: #68b0ab;
}

.background-2 {
  background: #8fc0a9;
}

.background-3 {
  background: #c8d5b9;
}

.background-4 {
  background: #faf3dd;
}

.m-20 {
  margin: 20px;
}

.h-80 {
  height: 80px;
}

.h-400 {
  height: 400px;
}

.w-80 {
  width: 80px;
}

.flex-container {
  display: flex; /* 2.1 */
}

.flex-item-1 {
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}

.flex-item-3 {
  flex: 3;
}

.flex-item-4 {
  flex: 4;
}

/* Compare how the HTML file looks in a browser before and after your changes. How does the value for the flex affect the size of the item? Items now resize dynamically based on available space. */

/* Centering with flexbox, 3.1 */
.flex-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

/* 4.1 &4.2 */
.flex-space-between {
  display: flex;
  justify-content: space-between; /* The space-between value displays the flex items with space between them */
}

/* 5.1 */
.flex-wrap {
  display: flex;
  flex-wrap: wrap; /* The wrap value specifies that the flex items will wrap if necessary */
}

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse; /*The wrap-reverse value specifies that the flex items will wrap if necessary, in reverse order*/
}

.flex-basis-50 {
  flex-basis: 50%; /* Each item takes up half the container's width */
}
.flex-item {
  flex-basis: 25%; /* Each item takes up 25% of the container */
  box-sizing: border-box; /* Ensures padding/borders don’t exceed the width */
}

/* 6.1 */
.flex-container {
  display: flex;
  flex-direction: row;
}

/* 7.1 */
.flex-menu {
  display: flex;
  justify-content: flex-end; /* Pushes items to the right */
  justify-content: center;
  align-items: center;

  list-style-type: none;
  gap: 3px;
}

.fourth-item {
  order: 5;
}

.background-3 {
  width: 100px;
  justify-content: center;
  height: 50px;
  text-align: center;
}

a {
  color: black;
  font-weight: bold;
}
